In [1]:
import pandas as pd
import csv

In [2]:
features = pd.read_csv('yelp__business_factoranalysis.csv')

In [3]:
features.head(5)

,Unnamed: 0,location,working_hours,parking,business_infra_features,business_extra_features,business_payments,accessibility,stars,review_count
0,0,-0.921154,-0.578886,0.234413,0.577172,0.211994,0.272516,-0.254496,4.0,24
1,1,-0.983662,1.356515,0.234413,0.814986,-0.036538,0.272516,3.020099,4.5,3
2,2,1.349533,-0.588871,-0.082422,1.514018,0.724658,-0.682368,-0.254496,4.0,5
3,3,-0.824482,1.756269,-0.617359,-0.400277,-0.450020,-0.682368,-0.254496,1.5,8
4,4,-0.920953,-0.544352,-0.617359,-0.400277,-0.450020,0.272516,-0.254496,2.0,4

In [4]:
features.shape

(188593, 10)

In [5]:
features.describe()

,Unnamed: 0,location,working_hours,parking,business_infra_features,business_extra_features,business_payments,accessibility,stars,review_count
count,188593.000000,1.885930e+05,1.885930e+05,1.885930e+05,1.885930e+05,1.885930e+05,1.885930e+05,1.885930e+05,188593.000000,188593.000000
mean,94296.000000,7.737382e-16,-2.517159e-15,9.767323e-16,4.979997e-16,1.423106e-15,-2.544835e-15,-1.978282e-15,3.631550,31.797310
std,54442.253996,9.976502e-01,9.960464e-01,8.277961e-01,8.119393e-01,9.116505e-01,4.453631e-01,5.853347e-01,1.016783,104.124212
min,0.000000,-4.607159e+00,-5.958037e-01,-6.173590e-01,-4.002773e-01,-4.500196e-01,-6.823676e-01,-4.158530e-01,1.000000,3.000000
25%,47148.000000,-8.357669e-01,-5.918134e-01,-6.173590e-01,-4.002773e-01,-4.500196e-01,-6.823676e-01,-2.544963e-01,3.000000,4.000000
50%,94296.000000,-8.076582e-01,-5.788859e-01,-6.173590e-01,-4.002773e-01,-4.500196e-01,2.725159e-01,-2.544963e-01,3.500000,9.000000
75%,141444.000000,9.865018e-01,6.832776e-02,7.693499e-01,-4.002773e-01,-2.037574e-01,2.725159e-01,-2.544963e-01,4.500000,24.000000
max,188592.000000,1.195852e+01,1.759212e+00,2.047007e+00,3.666128e+00,5.804246e+00,1.432587e+00,3.651186e+00,5.000000,7968.000000

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
values = {'location':7.737382e-16, 'working_hours':-2.517159e-15, 'parking':9.767323e-16,'business_infra_features':4.979997e-16,'business_extra_features':1.423106e-15,'business_payments':-2.544835e-15, 'accessibility':-1.978282e-15,'stars':3.631550, 'review_count':31.797310}

In [8]:
import numpy as np
# labels = np.array([features['location'],features['working_hours'], features['parking'], features['business_infra_features'], features['business_extra_features'], features['business_payments'], features['accessibility']])
features.fillna(values)
labels = np.array(features['stars'])
features= features.drop('stars', axis = 1)
feature_list=list(features.columns)
features=np.array(features)

In [15]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)

In [16]:
train_features.shape

(141444, 9)

In [17]:
test_features.shape

(47149, 9)

In [18]:
train_labels.shape

(141444,)

In [19]:
test_labels.shape

(47149,)

In [20]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=1000, random_state=42)
rf.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [22]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print("MAE", round(np.mean(errors),2), ' degrees')

MAE 0.76  degrees

In [23]:
mape = 100*(errors/test_labels)
accuracy = 100 - np.mean(mape)
print("Accuracy", round(accuracy,2), '%')

Accuracy 72.34 %