In [1]:
import nltk
import re
import pandas as pd
from nltk.corpus import stopwords

In [26]:
reviews_df = pd.read_csv('text_punct.csv', low_memory=False)

In [3]:
# reviews_df = reviews[['business_id','text','date']]
reviews_df = reviews

__Find the length of the review text__

In [ ]:
def find_length(text):
    try:
        val = len(text)
    except:
        val =0
    return val
# reviews_df = reviews_df.fillna('0')
reviews_df['text_length'] = reviews_df['text'].apply(lambda x: find_length(x))

__Preprocess the text - lowercase the review, remove punctuations other than !?, remove stop words and perform stemming__

import string
nltk.download('stopwords')
def load_stopwords():
    return set(stopwords.words("english"))
main_count = 0
def pre_process(text):
    try:
        global main_count
        main_count+=1
        count = 0
        porter = nltk.stem.PorterStemmer()
        text = text.lower() if len(text)>0 else text
        remove = string.punctuation
        remove = remove.replace("?", "") # don't remove ?
        remove = remove.replace("!","") # don't remove !
        pattern = r"[{}]".format(remove)
        text = re.sub(pattern, " ", text)
        words = text.split()
        stops = load_stopwords()
        meaningful_words = [porter.stem(w) for w in words if not w in stops]
        if main_count%100000 == 0:
            print(main_count)
        return " ".join(meaningful_words)
    except:
        return ''

reviews_df['text'] = reviews_df['text'].apply(lambda x: pre_process(x))

In [ ]:
reviews_df.to_csv('text_transform.csv')

__Find the count of occurrence of ? and ! in the review__

In [ ]:
reviews_df['count_punctuation'] = reviews_df.text.str.count('\?|\!')

__Find the sentiment score as difference between the number of positive words and negative words in the review__

In [ ]:
from nltk import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('punkt')
def find_sentiment_score(text):
    tokens = word_tokenize(text)
    sia = SentimentIntensityAnalyzer()
    pos_count = 0
    neg_count = 0
    for w in tokens:
        if(sia.polarity_scores(w)['compound']) >= 0.5:
            pos_count+=1
        elif(sia.polarity_scores(w)['compound']) <= -0.5:
            neg_count += 1
    return pos_count - neg_count
# reviews_df['sentiment_score'] = reviews_df['text'].apply(lambda x: find_sentiment_score(x))

In [ ]:
reviews_df.to_csv('text_punct.csv')

In [18]:
reviews_df.tail()

,Unnamed: 0,business_id,text,date,text_length,count_punctuation
5996992,5996992,abIF7pw1Hyu-eVW3LwNhyg,must admit bad experi owner staff rude busi re...,2016-02-29,320,0
5996993,5996993,fbLYRHIZAt3q839whhaBUg,worst servic experi awhil usual love oregano v...,2017-07-06,687,2
5996994,5996994,b_8jCti0vuouJ_fjZpdmZw,love locat patio servic especi habanero bacon ...,2018-04-14,255,2
5996995,5996995,wY3dlpLa0BHfDENYAPYuZA,absolut hate place would give zero star could ...,2018-04-07,792,3
5996996,5996996,6E4i0NHTRAgpwbbRwZhlnw,first last time go mom use go sky nail harriso...,2018-06-07,1368,4

In [22]:
feature_names = pd.Series(' '.join(('hi 1234')).split()).value_counts()[:10]

In [89]:
feature_names = pd.Series(' '.join(reviews['text']).lower().split()).value_counts()[:1000]
feature_names = feature_names.keys().values.tolist()
feature_names

MemoryError:

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# v = TfidfVectorizer(vocabulary=feature_names)
# x = v.fit_transform(reviews_df['text'])
# # print(v.get_feature_names())
# reviews_df['tfidf'] = list(x.toarray())
# reviews_df.tail()

In [32]:
reviews_df.groupby('business_id')
reviews_df.nunique()
reviews_df.drop(['Unnamed: 0'], axis=1)

,business_id,text,date,text_length,count_punctuation
0,pomGBqfbxcqPv14c3XH-ZQ,love place! fianc go atleast week portion huge...,2012-11-13,317,5
1,jtQARsP6P-LbkyjbO1qNGg,terribl dri corn bread rib tip fat mushi flavo...,2014-10-23,156,0
2,elqbBhBfElMNSrjFqW3now,back 2005 2007 place favorit thai place ever g...,2011-02-25,901,3
3,Ums3gaP2qM3W1XcA5r6SsQ,delici healthi food steak amaz fish pork aweso...,2014-09-05,165,1
4,vgfcTvK81oD4r50NMjU2Ag,place suck custom servic horribl dont serv foo...,2011-02-25,467,1
5,AxeQEz3-s9_1TyIo-G7UQw,like thai food tri origin thai bbq pad se ew d...,2011-10-10,743,4
6,zdE82PiD6wquvjYLyhOJNA,amazing!!! refer friend first thought korean m...,2012-04-18,1190,8
7,EAwh1OmG6t6p3nRaZOW_AA,rib amaz 2 hour wait time amaz understand plac...,2011-02-25,337,1
8,atVh8viqTj-sqDJ35tAYVg,food pretti good gonna lie make sacrific choos...,2012-11-09,995,3
9,yFumR3CWzpfvTH2FCthvVw,emerald club member number year alway satisfi ...,2016-06-15,185,0
10,UBv8heCQR0RPnUQG0zkXIQ,score neg horribl like 6 7 item buffet naan sa...,2016-09-23,280,0
11,hdgYnadxg0GANhWOJabr2g,went twice pretti happi haircut peopl realli f...,2014-08-23,117,0
12,yEOu75XjwczngvWWlr0M_A,great price 25 long hair! hesit dri cut turn g...,2016-02-17,95,2
13,f5O7v_X_jCg2itqacRfxhg,sansotei serv top notch ramen take reserv comp...,2017-10-12,540,0
14,XqNDr54eLDLRfZwo4l4dVA,sever place get bagel oakland bagel best reall...,2015-09-22,185,0
15,0bjFYstj8USMzEV4ZQldjA,cool littl place nice atmospher staff great co...,2017-01-19,80,1
16,q0n4I-zqiI47xispOqc1lA,delici friendli staff cool atmospher around gr...,2016-09-19,388,3
17,alG1fb1kl2vmT8s34jbbHg,great haircut cool atmospher realli nice peopl...,2015-09-05,200,2
18,gZGsReG0VeX4uKViHTB9EQ,finally! tri mani mexican restaur thru phoenix...,2017-08-16,403,4
19,-bd4BQcl1ekgo7avaFngIw,one best breakfast place to! menu mani option ...,2017-06-28,227,3
20,u73j2VQ3TGWdMO-AG7MABw,food alright servic horrible! order came incor...,2017-07-06,689,2
21,VyVIneSU7XAWgMBllI6LnQ,delicious! forgot take pictur see amaz got 2 k...,2017-07-08,263,2
22,3Mx4renubPRnjHUw1n2UkA,could leav zero star would rude b door fake la...,2015-09-30,756,0
23,d4z4gjdhQYs-WOVClISf_A,remov sever pine tree hous henderson nv ground...,2017-06-14,218,0
24,f-v1fvtnbdw_QQRsCnwH-g,write review fractur prune first love doughnut...,2017-11-18,644,0
25,yz66FIUPDKGhILDWzRLeKg,wish could tell food problem friend went dinne...,2017-11-18,574,0
26,6qDRqHWqf0EeHupSUEBfKg,wonderful! one favorit place bbq expertli cook...,2015-12-10,110,1
27,7AlULGZI1pHt0imODsqdkg,price quizino sandwich great! live musician ki...,2012-02-12,139,1
28,th4pZ5LkoIIkb1Vmu_m2DA,food ok get lot food price bot lot seat,2012-02-12,84,0
29,nsSfCKW9KDB4COj9bzXApw,staff friendli help food fabul whole experi aw...,2012-02-12,93,1
...,...,...,...,...,...
5996967,wsmVIHJEi9J_38dXx2qLKA,decent eastsid spot serv mediterranean italian...,2014-09-13,1237,2
5996968,j1i7s55PmOFzJC3l6O8PiA,new sign say find ask spousal unit tell bob ev...,2014-04-09,747,0
5996969,zjwdU1OdlbKTGjm-IfD4TQ,local beers? wisconsin restaur german restaur ...,2012-03-01,1018,1
5996970,ceuvH6NpDhpT1p4q1w93pA,new neighborhood work way park st could regula...,2011-09-12,336,0
5996971,HHCn1akqIpl_BhdcJoYPbw,time updat warm place becom weekli weekend lun...,2014-01-31,378,1
5996972,vzqzoa-plufwTsQUwW_s6Q,pnnh make grade twice tri standard dish pho bu...,2012-05-07,585,2
5996973,7mjfLQctbrHXWMsxGszQlQ,new area stay friend neighborhood wait new pla...,2011-08-05,1161,5
5996974,3-HFGxmbzSax-NySJ_LzDg,u town cold rather wait tabl crowd nearbi pho ...,2014-10-06,1203,5
5996975,oglIZt5mg2nErhpTH_AakQ,u way home airport hungri time zone challeng n...,2015-12-01,1180,0
5996976,OPSNdO3LNPMt7qz1MNb42g,food delici love servic eric! thank eric pan s...,2017-12-23,86,2
5996977,CA4qhLICQWX0H_bf9iGw0Q,store mani employe check peopl go technic supp...,2017-03-03,401,0
5996978,oJPInRXXXLwG_89I-5cIiQ,awesom servic depart ivan best friendli nice m...,2017-08-18,271,0
5996979,JcMx_PIy0ROIlJWens4TAQ,absolut recommend place husband come californi...,2017-05-26,312,0
5996980,gRMYm-CeEdjXtaQcVo8vsw,servic terribl parti 12 celebr birthday waitre...,2017-03-16,369,5
5996981,WbS58nfQQZaxWk1BUPBuJQ,delici food mani healthi option choos better t...,2017-07-07,153,0
5996982,hGBdtLUHanbw6rMRoMxUSQ,never hair cut person receiv previou neg revie...,2017-07-07,555,1
5996983,XF7cEaCGuPkt1yuz77jeTQ,year back visit locat lawrenc love realli exci...,2018-05-27,1127,0
5996984,aLcFhMe6DDJ430zelCpd2A,plu side excel thai food good flavour balanc s...,2015-10-01,187,0
5996985,R_fQGSUQv0L_fRiuua47dw,brought cowork boss light lunch pleasantli sur...,2018-02-21,735,2
5996986,rqWIntPaV8TpJvgT6H9UNw,never mad kung fu tea love product one compar ...,2017-10-05,463,0
5996987,PwxMFnr1DJFfBjP8C9rC-A,problem health care ladi check desk talk patie...,2015-10-27,183,0
5996988,B6qdxFg9LFff-NEVgMWRpQ,came wed dress budget time limit left feel lik...,2017-08-01,566,1
5996989,BdzJQypceJ5Bam2P7egoiw,good food moder price custom poke bowl crab ra...,2017-08-02,186,0
5996990,lGiUZcTvuMdx28YMvqZ2vw,husband love place go get groceri sinc live ne...,2017-09-11,219,0
5996991,zr42_UsWfaIF-rcp37OpwA,food amaz smoke salmon benedict cowork pork be...,2017-12-29,800,1
5996992,abIF7pw1Hyu-eVW3LwNhyg,must admit bad experi owner staff rude busi re...,2016-02-29,320,0
5996993,fbLYRHIZAt3q839whhaBUg,worst servic experi awhil usual love oregano v...,2017-07-06,687,2
5996994,b_8jCti0vuouJ_fjZpdmZw,love locat patio servic especi habanero bacon ...,2018-04-14,255,2
5996995,wY3dlpLa0BHfDENYAPYuZA,absolut hate place would give zero star could ...,2018-04-07,792,3
5996996,6E4i0NHTRAgpwbbRwZhlnw,first last time go mom use go sky nail harriso...,2018-06-07,1368,4

In [66]:
# text_df = reviews_df.groupby(reviews_df.business_id).agg(lambda x: ' '.join(x.unique())).reset_index()
# text_df = reviews_df.groupby('business_id')['text'].apply(lambda x: "%s" % ' '.join(str(x))).reset_index()
# reviews = reviews_df.applymap(str)
reviews = pd.read_csv('text_transform.csv', low_memory=False)
# text_df = .groupby('business_id')['text'].apply(lambda x: ' '.join(x)).reset_index()

In [73]:
reviews.tail()
reviews.dtypes

business_id    object
text           object
date           object
text_length     int64
dtype: object

In [70]:
reviews= reviews.drop(['Unnamed: 0'], axis=1)

In [86]:
# reviews['business_id'] = reviews['business_id'].astype(str)
# text_df = reviews.groupby('business_id')['text'].apply(','.join)
reviews['text'] = reviews['text'].astype(str)
text_df = reviews.groupby('business_id').agg({'text': ' '.join}).reset_index()

In [87]:
text_df.tail()

,business_id,text
188590,zzvlwkcNR1CCqOPXwuvz2A,mislabel food visit father nephew first orient...
188591,zzwaS0xn1MVEPEf0hNLjew,real bar! great drink price short dilli drinke...
188592,zzwhN7x37nyjP0ZM8oiHmw,love place best new bar restaur area limit exc...
188593,zzwicjPC9g246MK2M1ZFBA,real good place eat everyon friendli feel welc...
188594,zzzaIBwimxVej4tY6qFOUQ,guthri hand one best fast food place town neve...

__Find the tfidf vector of the top 500 unigrams__

In [115]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(max_features=500)
x = v.fit_transform(text_df['text'])
print(v.get_feature_names())
text_df['tfidf_unigram'] = list(x.toarray())
text_df.tail()

['10', '15', '20', '30', '50', 'abl', 'absolut', 'actual', 'add', 'ago', 'almost', 'alreadi', 'also', 'although', 'alway', 'amaz', 'amount', 'anoth', 'anyon', 'anyth', 'appet', 'appoint', 'area', 'around', 'arriv', 'ask', 'ate', 'atmospher', 'attent', 'avail', 'averag', 'away', 'awesom', 'back', 'bacon', 'bad', 'bar', 'bartend', 'basic', 'bbq', 'bean', 'beauti', 'beef', 'beer', 'believ', 'best', 'better', 'big', 'bill', 'bit', 'bite', 'book', 'bowl', 'bread', 'breakfast', 'bring', 'brought', 'buffet', 'burger', 'busi', 'buy', 'cake', 'call', 'came', 'car', 'card', 'care', 'chang', 'charg', 'cheap', 'check', 'chees', 'chef', 'chicken', 'chip', 'chocol', 'choic', 'choos', 'clean', 'close', 'coffe', 'cold', 'come', 'comfort', 'compani', 'complet', 'cook', 'cool', 'cost', 'could', 'counter', 'coupl', 'cours', 'cream', 'crowd', 'custom', 'cut', 'day', 'de', 'deal', 'decent', 'decid', 'decor', 'definit', 'delici', 'dessert', 'differ', 'dine', 'dinner', 'disappoint', 'dish', 'dog', 'done', 'door', 'dr', 'dress', 'dri', 'drink', 'drive', 'easi', 'eat', 'egg', 'either', 'els', 'employe', 'end', 'enjoy', 'enough', 'entir', 'especi', 'etc', 'even', 'ever', 'everi', 'everyon', 'everyth', 'excel', 'except', 'expect', 'expens', 'experi', 'explain', 'extra', 'extrem', 'fact', 'famili', 'fan', 'fantast', 'far', 'fast', 'favorit', 'feel', 'felt', 'fill', 'final', 'find', 'fine', 'finish', 'first', 'fish', 'fix', 'flavor', 'floor', 'food', 'found', 'free', 'fresh', 'fri', 'friend', 'friendli', 'front', 'full', 'fun', 'game', 'gave', 'gener', 'get', 'girl', 'give', 'given', 'glass', 'go', 'good', 'got', 'great', 'green', 'grill', 'group', 'guess', 'guy', 'hair', 'half', 'hand', 'happen', 'happi', 'hard', 'head', 'help', 'high', 'highli', 'hit', 'home', 'hope', 'horribl', 'hot', 'hotel', 'hour', 'hous', 'howev', 'huge', 'husband', 'ice', 'impress', 'includ', 'incred', 'insid', 'instead', 'interest', 'issu', 'it', 'item', 'job', 'keep', 'kept', 'kid', 'kind', 'kitchen', 'know', 'knowledg', 'la', 'lack', 'ladi', 'larg', 'last', 'late', 'later', 'least', 'leav', 'left', 'less', 'let', 'life', 'light', 'like', 'line', 'list', 'littl', 'live', 'local', 'locat', 'long', 'look', 'lot', 'love', 'lunch', 'made', 'main', 'make', 'manag', 'mani', 'may', 'mayb', 'meal', 'mean', 'meat', 'mention', 'menu', 'mexican', 'might', 'min', 'mind', 'minut', 'miss', 'mix', 'money', 'month', 'morn', 'move', 'much', 'music', 'must', 'nail', 'name', 'need', 'never', 'new', 'next', 'nice', 'night', 'noodl', 'noth', 'notic', 'offer', 'offic', 'often', 'oh', 'ok', 'okay', 'old', 'one', 'onion', 'open', 'option', 'order', 'outsid', 'overal', 'owner', 'pack', 'paid', 'park', 'part', 'parti', 'past', 'patio', 'pay', 'peopl', 'perfect', 'perfectli', 'person', 'phone', 'pick', 'piec', 'pizza', 'place', 'plan', 'plate', 'play', 'pleas', 'plenti', 'plu', 'point', 'pool', 'pork', 'portion', 'potato', 'prepar', 'pretti', 'price', 'probabl', 'problem', 'product', 'profession', 'provid', 'purchas', 'put', 'qualiti', 'question', 'quick', 'quickli', 'quit', 'rate', 'read', 'readi', 'real', 'realli', 'reason', 'receiv', 'recent', 'recommend', 'red', 'regular', 'rememb', 'reserv', 'restaur', 'return', 'review', 'rib', 'rice', 'right', 'roll', 'room', 'rude', 'run', 'said', 'salad', 'sandwich', 'sat', 'saturday', 'sauc', 'saw', 'say', 'season', 'seat', 'second', 'see', 'seem', 'seen', 'select', 'serv', 'server', 'servic', 'set', 'sever', 'share', 'shop', 'short', 'show', 'shrimp', 'side', 'sign', 'sinc', 'sit', 'size', 'slow', 'small', 'someon', 'someth', 'soon', 'soup', 'space', 'special', 'spici', 'spot', 'staff', 'stand', 'star', 'start', 'stay', 'steak', 'still', 'stop', 'store', 'street', 'strip', 'stuff', 'style', 'suggest', 'super', 'sure', 'surpris', 'sushi', 'sweet', 'tabl', 'taco', 'take', 'talk', 'tast', 'tasti', 'tea', 'tell', 'terribl', 'thai', 'thank', 'thing', 'think', 'though', 'thought', 'three', 'time', 'tip', 'today', 'told', 'took', 'top', 'total', 'town', 'treat', 'tri', 'trip', 'turn', 'two', 'type', 'understand', 'us', 'use', 'usual', 'varieti', 'vega', 'view', 'visit', 'wait', 'waiter', 'waitress', 'walk', 'want', 'warm', 'watch', 'water', 'way', 'week', 'weekend', 'well', 'went', 'white', 'whole', 'wife', 'wine', 'wing', 'wish', 'without', 'wonder', 'work', 'worst', 'worth', 'would', 'wrong', 'ye', 'year', 'yelp', 'yet']

,business_id,text,tfidf_unigram
188590,zzvlwkcNR1CCqOPXwuvz2A,mislabel food visit father nephew first orient...,"[0.036192474321608534, 0.0, 0.0, 0.0, 0.0, 0.0..."
188591,zzwaS0xn1MVEPEf0hNLjew,real bar! great drink price short dilli drinke...,"[0.010254887144797959, 0.012233663069688875, 0..."
188592,zzwhN7x37nyjP0ZM8oiHmw,love place best new bar restaur area limit exc...,"[0.016470246158228726, 0.0, 0.0, 0.01895510867..."
188593,zzwicjPC9g246MK2M1ZFBA,real good place eat everyon friendli feel welc...,"[0.0270672246811142, 0.004612871088469858, 0.0..."
188594,zzzaIBwimxVej4tY6qFOUQ,guthri hand one best fast food place town neve...,"[0.0, 0.0, 0.006869859791862968, 0.00685948966..."

In [ ]:
text_df['sentiment_score'] = text_df['text'].apply(lambda x: find_sentiment_score(x))

In [ ]:
text_df.loc[text_df['business_id'] == '7wHLFohwCw8l6WS-feLjeg', 'tfidf'].item()

In [81]:
df_1 = reviews_df.groupby('business_id').agg({'text_length': 'mean', 'count_punctuation': 'mean'}).reset_index()

In [93]:
json_file = pd.read_json("sent.json")

In [97]:
sent = pd.read_csv('output.csv')

In [99]:
sent = sent.drop(['checkin_count'], axis=1)

In [101]:
sent['sentiment_score'] = sent['pos_count']-sent['neg_count']
sent.tail()

                   business_id  pos_count  neg_count  sentiment_score
188588  zzwhN7x37nyjP0ZM8oiHmw         41          3               38
188589  zzwicjPC9g246MK2M1ZFBA         49         14               35
188590  zzzaIBwimxVej4tY6qFOUQ         37          1               36
188591  FgNgBLayRFm6H6Qr66ecbQ          0          0                0
188592  tiQQqJ5ymf_XWzyF9ywArw          0          0                0

In [102]:
sent = sent.drop(['pos_count', 'neg_count'], axis=1)
sent.tail()

                   business_id  sentiment_score
188588  zzwhN7x37nyjP0ZM8oiHmw               38
188589  zzwicjPC9g246MK2M1ZFBA               35
188590  zzzaIBwimxVej4tY6qFOUQ               36
188591  FgNgBLayRFm6H6Qr66ecbQ                0
188592  tiQQqJ5ymf_XWzyF9ywArw                0

In [104]:
final_df_unigram = pd.merge(df_1, text_df, on='business_id')

In [106]:
final_df_unigram = pd.merge(final_df_unigram, sent, on='business_id')

In [114]:
final_df_unigram.head()

,business_id,text_length,count_punctuation,text,tfidf_unigram,sentiment_score
0,--1UhMGODdWsrMastO9DZw,466.208333,1.416667,came lunch last week pleasantli surpris fresh ...,"[0.0, 0.01033006177243383, 0.0, 0.015968815752...",20
1,--6MefnULPED_I942VcFNA,785.205128,1.076923,incred rude woman behind cashier assum own res...,"[0.01860797281071805, 0.01275030573562763, 0.0...",27
2,--7zmmkVg-IMGaXbuVd0SQ,536.592593,1.444444,great beer great place excel servic women espe...,"[0.0, 0.014133100416116363, 0.0, 0.0, 0.013234...",50
3,--8LPVSo5i0Oo61X01sV9A,478.250000,0.500000,dr lacognata great great listen earth doctor e...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
4,--9QQLMTbFzLJ_oT-ON3Xw,436.181818,1.636364,go particular locat sever year alway go stylis...,"[0.0, 0.0, 0.042884672530692884, 0.0, 0.0, 0.0...",7

In [113]:
final_df_unigram.to_csv('unigram_1.csv')
print("done")

done

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range=(2,2))
n_grams = vectorizer.fit_transform(reviews_df['text'])

In [ ]:
vocab = vectorizer.vocabulary_
count_values = n_grams.toarray().sum(axis=0)
counts = sorted([(count_values[i],k) for k,i in vocab.items()], reverse=True)[:500]

In [ ]:
vocabulary = list(x[1] for x in counts)

__Find tfidf for top 500 bigrams__

In [125]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(ngram_range=(2,2), max_features=500)
x = v.fit_transform(text_df['text'])
print(v.get_feature_names())
text_df['tfidf_bigram'] = list(x.toarray())
text_df.tail()

MemoryError:

In [117]:
final_df_bigram = pd.merge(df_1, text_df, on='business_id')

In [118]:
final_df_bigram=pd.merge(final_df_bigram, sent, on='business_id')

In [ ]:
final_df_bigram.to_csv('bigram_1.csv')

In [123]:
text_df.tail()

,business_id,text,tfidf_unigram,tfidf_bigram
188590,zzvlwkcNR1CCqOPXwuvz2A,mislabel food visit father nephew first orient...,"[0.036192474321608534, 0.0, 0.0, 0.0, 0.0, 0.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
188591,zzwaS0xn1MVEPEf0hNLjew,real bar! great drink price short dilli drinke...,"[0.010254887144797959, 0.012233663069688875, 0...","[0.0, 0.0, 0.0, 0.10710779024989567, 0.0, 0.0,..."
188592,zzwhN7x37nyjP0ZM8oiHmw,love place best new bar restaur area limit exc...,"[0.016470246158228726, 0.0, 0.0, 0.01895510867...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
188593,zzwicjPC9g246MK2M1ZFBA,real good place eat everyon friendli feel welc...,"[0.0270672246811142, 0.004612871088469858, 0.0...","[0.0361642436159369, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
188594,zzzaIBwimxVej4tY6qFOUQ,guthri hand one best fast food place town neve...,"[0.0, 0.0, 0.006869859791862968, 0.00685948966...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.03822166549927315,..."

In [124]:
text_df.to_csv('bigram_unigram.csv')

In [2]:
import pandas as pd
reviews = pd.read_csv('text_transform.csv', low_memory=False)

In [4]:
reviews = reviews.drop(['date'], axis=1)

In [5]:
reviews = reviews.drop(['text_length'], axis=1)

In [8]:
reviews['text'] = reviews['text'].astype(str)
text_df = reviews.groupby('business_id').agg({'text': ' '.join}).reset_index()

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(max_features=1000)
x = v.fit_transform(text_df['text'])
print(v.get_feature_names())
df1 = pd.DataFrame(x.toarray(), columns=v.get_feature_names())
# text_df['tfidf_unigram'] = pd.dataframe(x.toarray())
res = pd.concat([text_df, df1], axis=1)
res.tail()

['00', '10', '100', '11', '12', '15', '20', '24', '25', '30', '40', '45', '50', '99', 'abl', 'absolut', 'accommod', 'across', 'actual', 'ad', 'add', 'addit', 'afford', 'afternoon', 'again', 'ago', 'agre', 'ahead', 'air', 'airport', 'allow', 'almost', 'alon', 'along', 'alreadi', 'also', 'although', 'alway', 'amaz', 'amazing', 'ambianc', 'american', 'amount', 'annoy', 'anoth', 'answer', 'anyon', 'anyth', 'anyway', 'anywher', 'apart', 'apolog', 'app', 'appar', 'appear', 'appet', 'appl', 'appoint', 'appreci', 'area', 'around', 'arriv', 'art', 'asian', 'ask', 'ate', 'atmospher', 'attend', 'attent', 'attitud', 'authent', 'avail', 'averag', 'avocado', 'avoid', 'aw', 'away', 'awesom', 'awesome', 'babi', 'back', 'bacon', 'bad', 'bag', 'bake', 'ball', 'bar', 'bare', 'bartend', 'base', 'basic', 'bathroom', 'bbq', 'bean', 'beat', 'beauti', 'becom', 'bed', 'beef', 'beer', 'begin', 'behind', 'believ', 'best', 'better', 'beyond', 'big', 'bill', 'birthday', 'bit', 'bite', 'black', 'bland', 'blue', 'board', 'book', 'booth', 'bother', 'bottl', 'bottom', 'bought', 'bowl', 'box', 'boy', 'boyfriend', 'brand', 'bread', 'break', 'breakfast', 'bring', 'broth', 'brought', 'brown', 'brunch', 'buck', 'buffet', 'build', 'bun', 'bunch', 'burger', 'burrito', 'busi', 'butter', 'buy', 'cafe', 'cake', 'call', 'came', 'cannot', 'car', 'card', 'care', 'carri', 'case', 'cash', 'cashier', 'casino', 'casual', 'caus', 'center', 'certainli', 'chain', 'chair', 'chanc', 'chang', 'charg', 'cheap', 'check', 'chees', 'chef', 'chicken', 'chili', 'chines', 'chip', 'chocol', 'choic', 'choos', 'chose', 'citi', 'class', 'classic', 'clean', 'clear', 'clearli', 'close', 'cloth', 'club', 'cocktail', 'coffe', 'cold', 'color', 'combin', 'combo', 'come', 'comfort', 'commun', 'compani', 'compar', 'complain', 'complaint', 'complet', 'concern', 'consid', 'consist', 'contact', 'continu', 'conveni', 'convers', 'cook', 'cooki', 'cool', 'corn', 'corner', 'cost', 'could', 'counter', 'coupl', 'coupon', 'cours', 'cover', 'crab', 'crave', 'crazi', 'cream', 'creami', 'credit', 'crispi', 'crowd', 'crust', 'cup', 'curri', 'custom', 'cut', 'cute', 'danc', 'dark', 'date', 'daughter', 'day', 'de', 'deal', 'decent', 'decid', 'decor', 'deep', 'definit', 'delici', 'delicious', 'deliv', 'deliveri', 'desert', 'design', 'desk', 'despit', 'dessert', 'detail', 'die', 'differ', 'dine', 'diner', 'dinner', 'dip', 'dirti', 'disappoint', 'discount', 'dish', 'doctor', 'dog', 'dollar', 'done', 'donut', 'door', 'doubl', 'downtown', 'dr', 'dress', 'dri', 'drink', 'drive', 'drop', 'duck', 'due', 'earli', 'easi', 'easili', 'eat', 'eaten', 'effici', 'egg', 'either', 'els', 'elsewher', 'email', 'employe', 'empti', 'end', 'enjoy', 'enough', 'enter', 'entir', 'entre', 'environ', 'especi', 'establish', 'et', 'etc', 'even', 'event', 'ever', 'everi', 'everyon', 'everyth', 'exactli', 'excel', 'except', 'excit', 'expect', 'expens', 'experi', 'experienc', 'explain', 'extra', 'extrem', 'eye', 'face', 'fact', 'fair', 'fairli', 'fall', 'famili', 'fan', 'fanci', 'fantast', 'far', 'fast', 'favorit', 'fee', 'feel', 'felt', 'figur', 'fill', 'final', 'find', 'fine', 'finish', 'first', 'fish', 'fit', 'five', 'fix', 'flavor', 'flavour', 'flight', 'floor', 'follow', 'food', 'forget', 'forgot', 'forward', 'found', 'four', 'free', 'french', 'frequent', 'fresh', 'fri', 'friday', 'friend', 'friendli', 'front', 'frozen', 'fruit', 'full', 'fun', 'futur', 'game', 'garlic', 'gave', 'gem', 'gener', 'get', 'gift', 'girl', 'give', 'given', 'glad', 'glass', 'go', 'goe', 'gone', 'good', 'got', 'gotten', 'grab', 'greasi', 'great', 'green', 'greet', 'grill', 'group', 'groupon', 'guess', 'guest', 'guy', 'gym', 'hair', 'half', 'hand', 'handl', 'hang', 'happen', 'happi', 'hard', 'hate', 'head', 'healthi', 'hear', 'heard', 'heart', 'heat', 'help', 'here', 'high', 'highli', 'hit', 'hold', 'home', 'homemad', 'honest', 'honestli', 'hope', 'horribl', 'hostess', 'hot', 'hotel', 'hour', 'hous', 'howev', 'huge', 'hungri', 'husband', 'ice', 'idea', 'imagin', 'immedi', 'import', 'impress', 'improv', 'includ', 'incred', 'indian', 'inform', 'ingredi', 'insid', 'instal', 'instead', 'insur', 'interest', 'issu', 'it', 'italian', 'item', 'japanes', 'job', 'joint', 'juic', 'juici', 'keep', 'kept', 'key', 'kick', 'kid', 'kind', 'kinda', 'kitchen', 'knew', 'know', 'knowledg', 'korean', 'la', 'lack', 'ladi', 'lamb', 'larg', 'last', 'late', 'later', 'le', 'learn', 'least', 'leav', 'left', 'lemon', 'less', 'let', 'lettuc', 'level', 'life', 'light', 'like', 'limit', 'line', 'list', 'listen', 'liter', 'littl', 'live', 'lobster', 'local', 'locat', 'lol', 'long', 'longer', 'look', 'lost', 'lot', 'loud', 'love', 'low', 'lunch', 'mac', 'machin', 'made', 'main', 'make', 'mall', 'man', 'manag', 'mani', 'margarita', 'market', 'massag', 'matter', 'may', 'mayb', 'meal', 'mean', 'meat', 'mediocr', 'medium', 'meet', 'melt', 'member', 'mention', 'menu', 'mess', 'met', 'mexican', 'middl', 'might', 'mile', 'milk', 'min', 'mind', 'mine', 'minut', 'miss', 'mistak', 'mix', 'modern', 'mom', 'monday', 'money', 'month', 'morn', 'mostli', 'mouth', 'move', 'movi', 'much', 'multipl', 'mushroom', 'music', 'must', 'nail', 'name', 'near', 'need', 'neg', 'neighborhood', 'never', 'new', 'next', 'nice', 'night', 'non', 'none', 'noodl', 'normal', 'notch', 'note', 'noth', 'notic', 'number', 'obvious', 'offer', 'offic', 'often', 'oh', 'oil', 'ok', 'okay', 'old', 'one', 'onion', 'onlin', 'open', 'opinion', 'option', 'order', 'organ', 'origin', 'other', 'otherwis', 'outdoor', 'outsid', 'outstand', 'overal', 'overpr', 'owner', 'pack', 'pad', 'paid', 'pain', 'pair', 'pancak', 'paper', 'park', 'part', 'parti', 'pass', 'past', 'pasta', 'patient', 'patio', 'pay', 'peopl', 'pepper', 'per', 'perfect', 'perfectli', 'person', 'pho', 'phoenix', 'phone', 'photo', 'pick', 'pictur', 'pie', 'piec', 'pizza', 'place', 'plan', 'plate', 'play', 'pleas', 'pleasant', 'plenti', 'plu', 'pm', 'point', 'polit', 'pool', 'poor', 'pop', 'pork', 'portion', 'posit', 'possibl', 'post', 'potato', 'pour', 'prefer', 'prepar', 'present', 'pretti', 'previou', 'price', 'pricey', 'probabl', 'problem', 'process', 'product', 'profession', 'provid', 'pull', 'purchas', 'put', 'qualiti', 'question', 'quick', 'quickli', 'quiet', 'quit', 'quot', 'ramen', 'rang', 'rare', 'rate', 'rather', 'read', 'readi', 'real', 'realiz', 'realli', 'reason', 'receiv', 'recent', 'recommend', 'red', 'refil', 'regular', 'relax', 'rememb', 'remind', 'remov', 'repair', 'replac', 'request', 'reserv', 'respons', 'rest', 'restaur', 'result', 'return', 'review', 'rib', 'rice', 'rich', 'ride', 'ridicul', 'right', 'ring', 'roast', 'rock', 'roll', 'room', 'rude', 'run', 'rush', 'sad', 'said', 'salad', 'sale', 'salmon', 'salon', 'salsa', 'salt', 'salti', 'sampl', 'sandwich', 'sat', 'satisfi', 'saturday', 'sauc', 'sausag', 'save', 'saw', 'say', 'schedul', 'school', 'scottsdal', 'seafood', 'season', 'seat', 'second', 'section', 'see', 'seem', 'seen', 'select', 'sell', 'send', 'sent', 'serious', 'serv', 'server', 'servic', 'service', 'set', 'sever', 'share', 'shop', 'short', 'shot', 'show', 'shrimp', 'side', 'sign', 'similar', 'simpl', 'simpli', 'sinc', 'singl', 'sit', 'situat', 'size', 'skin', 'slice', 'slightli', 'slow', 'small', 'smaller', 'smell', 'smile', 'smoke', 'snack', 'soft', 'solid', 'someon', 'someth', 'sometim', 'somewher', 'son', 'soon', 'sorri', 'sort', 'sound', 'soup', 'sour', 'spa', 'space', 'speak', 'special', 'specif', 'spend', 'spent', 'spice', 'spici', 'split', 'sport', 'spot', 'spring', 'staff', 'stand', 'standard', 'star', 'start', 'state', 'station', 'stay', 'steak', 'step', 'stick', 'still', 'stop', 'store', 'stori', 'strawberri', 'street', 'strip', 'stuf', 'stuff', 'style', 'suck', 'sugar', 'suggest', 'suit', 'summer', 'sunday', 'super', 'suppos', 'sure', 'surpris', 'sushi', 'sweet', 'system', 'tabl', 'taco', 'take', 'taken', 'talk', 'tast', 'tasti', 'tea', 'team', 'tell', 'tender', 'terribl', 'textur', 'thai', 'thank', 'that', 'thick', 'thin', 'thing', 'think', 'though', 'thought', 'three', 'throughout', 'ticket', 'time', 'tini', 'tip', 'tire', 'toast', 'today', 'togeth', 'told', 'tomato', 'ton', 'tonight', 'too', 'took', 'top', 'toronto', 'total', 'touch', 'town', 'tradit', 'train', 'travel', 'treat', 'tri', 'trip', 'truck', 'true', 'truli', 'trust', 'tuna', 'turn', 'tv', 'twice', 'two', 'type', 'typic', 'understand', 'unfortun', 'uniqu', 'unless', 'updat', 'upon', 'us', 'use', 'usual', 'valley', 'valu', 'varieti', 'vega', 'vegan', 'veget', 'vegetarian', 'veggi', 'vehicl', 'vibe', 'view', 'visit', 'waffl', 'wait', 'waiter', 'waitress', 'walk', 'wall', 'want', 'warm', 'wash', 'wast', 'watch', 'water', 'way', 'websit', 'wed', 'week', 'weekend', 'weird', 'welcom', 'well', 'went', 'whatev', 'white', 'whole', 'wife', 'window', 'wine', 'wing', 'wish', 'within', 'without', 'woman', 'wonder', 'word', 'work', 'worker', 'world', 'wors', 'worst', 'worth', 'would', 'wow', 'wrap', 'write', 'wrong', 'ye', 'year', 'yelp', 'yet', 'young', 'yum', 'yummi']

,business_id,text,00,10,100,11,12,15,20,24,...,wrap,write,wrong,ye,year,yelp,yet,young,yum,yummi
188590,zzvlwkcNR1CCqOPXwuvz2A,mislabel food visit father nephew first orient...,0.000000,0.031995,0.000000,0.049459,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.040883,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
188591,zzwaS0xn1MVEPEf0hNLjew,real bar! great drink price short dilli drinke...,0.007264,0.009955,0.007199,0.007695,0.000000,0.011876,0.034423,0.0,...,0.0,0.0,0.005868,0.006360,0.029312,0.000000,0.000000,0.014919,0.0000,0.000000
188592,zzwhN7x37nyjP0ZM8oiHmw,love place best new bar restaur area limit exc...,0.000000,0.015633,0.000000,0.000000,0.010979,0.000000,0.000000,0.0,...,0.0,0.0,0.018431,0.019976,0.019727,0.010069,0.018943,0.000000,0.0000,0.000000
188593,zzwicjPC9g246MK2M1ZFBA,real good place eat everyon friendli feel welc...,0.010897,0.026134,0.000000,0.000000,0.005244,0.004454,0.008606,0.0,...,0.0,0.0,0.004402,0.028623,0.025126,0.000000,0.009048,0.005595,0.0069,0.012271
188594,zzzaIBwimxVej4tY6qFOUQ,guthri hand one best fast food place town neve...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006400,0.0,...,0.0,0.0,0.006546,0.007095,0.004671,0.014306,0.006729,0.000000,0.0000,0.000000

In [20]:
res.to_csv('tfidf_unigram.csv')

In [16]:
df = pd.read_csv('final_dataset.csv')
df.tail()

,Unnamed: 0,business_id,stars,latitude,longitude,review_count,is_open,Monday,Tuesday,Wednesday,...,Alcohol,WiFi,Music,Ambience,BusinessParking,pos_count,neg_count,checkin_count,text_length,count_punctuation
188588,188588,sMQAZ3DkfrURFoJAyOhjEw,2.5,40.551152,-80.021213,9,0,1,1,1,...,0,0,0,0,0,4,5,3,534.222222,2.000000
188589,188589,6hvuCibNS4uECetHb9MCQQ,2.0,40.534242,-80.019556,5,1,0,0,0,...,0,0,0,0,0,1,4,0,810.600000,0.200000
188590,188590,KleCXFYOmdACcQUvf6_XEg,3.0,35.378669,-80.724733,26,1,1,1,1,...,0,0,0,0,4,20,6,547,631.846154,0.769231
188591,188591,3_fIsSxN2RBovQ_6EFtLzA,4.0,35.364366,-80.703454,19,1,1,1,1,...,0,1,0,0,0,17,2,58,788.789474,1.000000
188592,188592,NkOvIueadjFUxeCyq_uQEw,4.0,36.118697,-115.154270,8,1,0,1,1,...,0,0,0,0,4,6,2,14,568.500000,2.375000

In [17]:
df = df.drop(['Unnamed: 0'], axis=1)

In [18]:
final_dataset = pd.merge(df,res,on='business_id').to_csv('final_data.csv')

In [21]:
final_data = pd.read_csv('final_data.csv')

## Generate 500 unigram and 500 bigrams

text_transform.csv should contain only business_id and text as its columns

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

reviews = pd.read_csv('text_transform.csv', low_memory=False)
reviews = reviews.drop(['date'], axis=1)
reviews = reviews.drop(['text_length'], axis=1)
print('done--')
reviews['text'] = reviews['text'].astype(str)
text_df = reviews.groupby('business_id').agg({'text': ' '.join}).reset_index()

print('generate unigram')
#generate unigrams
v1 = TfidfVectorizer(max_features=200)
x1 = v1.fit_transform(text_df['text'])
print(v1.get_feature_names())
df1 = pd.DataFrame(x1.toarray(), columns=v1.get_feature_names())
res = pd.concat([text_df, df1], axis=1)
# text_df['tfidf_unigram'] = pd.dataframe(x.toarray())

print('generate bigram')
#generate bigrams
v2 = TfidfVectorizer(ngram_range=(2,2), max_features=200)
x2 = v2.fit_transform(text_df['text'])
print(v2.get_feature_names())
df2 = pd.DataFrame(x2.toarray(), columns=v2.get_feature_names())
final_res = pd.concat([res, df2], axis=1)
final_res.tail()

done--
generate unigram
['10', 'actual', 'also', 'alway', 'amaz', 'anoth', 'area', 'around', 'ask', 'away', 'awesom', 'back', 'bad', 'bar', 'beer', 'best', 'better', 'big', 'bit', 'burger', 'busi', 'call', 'came', 'car', 'care', 'check', 'chees', 'chicken', 'clean', 'close', 'coffe', 'come', 'cook', 'could', 'custom', 'day', 'decid', 'definit', 'delici', 'differ', 'dinner', 'disappoint', 'dish', 'done', 'drink', 'eat', 'end', 'enjoy', 'enough', 'even', 'ever', 'everi', 'everyth', 'excel', 'expect', 'experi', 'famili', 'favorit', 'feel', 'find', 'first', 'flavor', 'food', 'found', 'free', 'fresh', 'fri', 'friend', 'friendli', 'full', 'get', 'give', 'go', 'good', 'got', 'great', 'guy', 'happi', 'help', 'home', 'hot', 'hotel', 'hour', 'howev', 'item', 'kind', 'know', 'last', 'left', 'let', 'like', 'line', 'littl', 'locat', 'long', 'look', 'lot', 'love', 'lunch', 'made', 'make', 'manag', 'mani', 'meal', 'meat', 'menu', 'minut', 'much', 'need', 'never', 'new', 'next', 'nice', 'night', 'noth', 'offer', 'one', 'open', 'option', 'order', 'overal', 'park', 'pay', 'peopl', 'perfect', 'person', 'pizza', 'place', 'pretti', 'price', 'put', 'qualiti', 'realli', 'reason', 'recommend', 'restaur', 'review', 'rice', 'right', 'roll', 'room', 'said', 'salad', 'sandwich', 'sauc', 'say', 'seat', 'see', 'seem', 'select', 'serv', 'server', 'servic', 'shop', 'show', 'side', 'sinc', 'small', 'someth', 'special', 'spot', 'staff', 'star', 'start', 'stay', 'still', 'stop', 'store', 'super', 'sure', 'sweet', 'tabl', 'take', 'tast', 'tell', 'thank', 'thing', 'think', 'though', 'time', 'told', 'took', 'top', 'tri', 'two', 'us', 'use', 'vega', 'visit', 'wait', 'walk', 'want', 'way', 'week', 'well', 'went', 'work', 'worth', 'would', 'year']
generate bigram
['10 minut', '15 minut', '20 minut', '30 minut', '45 minut', 'absolut love', 'across street', 'also order', 'alway get', 'alway good', 'alway great', 'answer question', 'back tri', 'best ever', 'best part', 'call back', 'came back', 'come back', 'could get', 'credit card', 'custom servic', 'decid tri', 'definit back', 'definit come', 'definit go', 'definit recommend', 'definit worth', 'dine experi', 'drink order', 'drive thru', 'even better', 'even though', 'everi time', 'excel servic', 'fast food', 'feel like', 'felt like', 'first time', 'first visit', 'five star', 'food alway', 'food amaz', 'food came', 'food delici', 'food drink', 'food good', 'food great', 'food order', 'food realli', 'food servic', 'french toast', 'fri chicken', 'fri rice', 'friday night', 'friendli help', 'friendli servic', 'friendli staff', 'front desk', 'gave us', 'get food', 'give place', 'give star', 'give tri', 'gluten free', 'go back', 'go get', 'go place', 'go wrong', 'good food', 'good place', 'good price', 'good servic', 'good thing', 'good time', 'great custom', 'great experi', 'great food', 'great job', 'great place', 'great price', 'great servic', 'great time', 'happi hour', 'help us', 'highli recommend', 'ice cream', 'la vega', 'last night', 'last time', 'late night', 'let know', 'like place', 'littl bit', 'long time', 'look forward', 'look good', 'look great', 'look like', 'love it', 'love love', 'love place', 'mac chees', 'made sure', 'make feel', 'make sure', 'mani time', 'mash potato', 'mexican food', 'minut later', 'much better', 'never go', 'new york', 'next day', 'next door', 'next time', 'nice place', 'noth special', 'one best', 'one favorit', 'one star', 'one thing', 'one time', 'order food', 'pad thai', 'park lot', 'place eat', 'place get', 'place go', 'place good', 'place great', 'place like', 'place order', 'portion size', 'pretti good', 'pretti much', 'price reason', 'qualiti food', 'read review', 'realli enjoy', 'realli good', 'realli great', 'realli like', 'realli nice', 'realli want', 'reason price', 'recommend anyon', 'recommend place', 'right away', 'said would', 'saturday night', 'second time', 'seem like', 'servic alway', 'servic excel', 'servic food', 'servic friendli', 'servic good', 'servic great', 'sever time', 'staff alway', 'staff friendli', 'super friendli', 'sweet potato', 'take care', 'take order', 'take time', 'tast good', 'tast like', 'time come', 'time get', 'time go', 'time went', 'told us', 'took time', 'top notch', 'tri get', 'tri place', 'wait go', 'wait long', 'wait staff', 'wait time', 'walk around', 'want go', 'want tri', 'wast time', 'well done', 'well worth', 'went back', 'would come', 'would definit', 'would give', 'would go', 'would highli', 'would like', 'would never', 'would recommend', 'would say', 'write review', 'year ago', 'year old']

,business_id,text,10,actual,also,alway,amaz,anoth,area,around,...,would give,would go,would highli,would like,would never,would recommend,would say,write review,year ago,year old
188590,zzvlwkcNR1CCqOPXwuvz2A,mislabel food visit father nephew first orient...,0.043283,0.000000,0.032352,0.034821,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
188591,zzwaS0xn1MVEPEf0hNLjew,real bar! great drink price short dilli drinke...,0.012230,0.030491,0.041137,0.063954,0.000000,0.005565,0.017342,0.032798,...,0.0,0.067163,0.068464,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
188592,zzwhN7x37nyjP0ZM8oiHmw,love place best new bar restaur area limit exc...,0.019056,0.047508,0.064096,0.030661,0.018353,0.008671,0.081062,0.034068,...,0.0,0.000000,0.000000,0.00000,0.000000,0.112303,0.000000,0.0,0.000000,0.0
188593,zzwicjPC9g246MK2M1ZFBA,real good place eat everyon friendli feel welc...,0.031180,0.013325,0.039952,0.028667,0.008580,0.012160,0.021053,0.015927,...,0.0,0.000000,0.000000,0.05077,0.055729,0.000000,0.000000,0.0,0.191862,0.0
188594,zzzaIBwimxVej4tY6qFOUQ,guthri hand one best fast food place town neve...,0.000000,0.032323,0.038764,0.036506,0.012487,0.035395,0.018384,0.017384,...,0.0,0.084994,0.000000,0.00000,0.000000,0.033612,0.047961,0.0,0.039097,0.0

In [2]:
final_res = final_res.drop(['text'], axis=1)

In [4]:
final_res.to_csv('unibi200.csv')

In [3]:
df = pd.read_csv('final_dataset.csv')
df.tail()

,Unnamed: 0,business_id,stars,latitude,longitude,review_count,is_open,Monday,Tuesday,Wednesday,...,Alcohol,WiFi,Music,Ambience,BusinessParking,pos_count,neg_count,checkin_count,text_length,count_punctuation
188588,188588,sMQAZ3DkfrURFoJAyOhjEw,2.5,40.551152,-80.021213,9,0,1,1,1,...,0,0,0,0,0,4,5,3,534.222222,2.000000
188589,188589,6hvuCibNS4uECetHb9MCQQ,2.0,40.534242,-80.019556,5,1,0,0,0,...,0,0,0,0,0,1,4,0,810.600000,0.200000
188590,188590,KleCXFYOmdACcQUvf6_XEg,3.0,35.378669,-80.724733,26,1,1,1,1,...,0,0,0,0,4,20,6,547,631.846154,0.769231
188591,188591,3_fIsSxN2RBovQ_6EFtLzA,4.0,35.364366,-80.703454,19,1,1,1,1,...,0,1,0,0,0,17,2,58,788.789474,1.000000
188592,188592,NkOvIueadjFUxeCyq_uQEw,4.0,36.118697,-115.154270,8,1,0,1,1,...,0,0,0,0,4,6,2,14,568.500000,2.375000

In [4]:
df = df.drop(['Unnamed: 0'], axis=1)

In [7]:
final_dataset = pd.merge(df,final_res,on='business_id').to_csv('D:\\features.csv')