In [1]:
import nltk
import itertools
import operator
import pandas as pd
import numpy as np
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
tips = pd.read_csv('D://yelp__tip.csv', low_memory=False)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\deept\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

C:\Users\deept\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [4]:
tips_df = tips[['business_id','text']]

In [ ]:
df = tips_df.groupby('business_id')['text'].nunique()
print(df)

__Sentiment Analysis of the tips text using Vader: Classify the tips text as Pos or Neg__

In [24]:
count = 0
upper_limit = 0
lower_limit = 0
sent = {}
sentiment_analyzer = SentimentIntensityAnalyzer()
while count!=120000:
    lower_limit=upper_limit
    upper_limit+=10000
    x = itertools.islice(dict_.items(), lower_limit,upper_limit)
    for key,val in x:
        count += 1
        classify = []
#         if key not in sent:
#             sent[key] = []
        try:
            for val_item in val:
                sentiment = sentiment_analyzer.polarity_scores(val_item)
                sentiment.pop('compound')
                sentiment.pop('neu')
                classify.append(max(sentiment.items(), key=operator.itemgetter(1))[0])
            sent[key] = classify
        except:
            continue
    print(lower_limit, upper_limit, count)

0 10000 10000
10000 20000 20000
20000 30000 30000
30000 40000 40000
40000 50000 50000
50000 60000 60000
60000 70000 70000
70000 80000 80000
80000 90000 90000
90000 100000 100000
100000 110000 110000
110000 120000 120000

In [25]:
x = itertools.islice(dict_.items(),120001,121526)
for key,val in x:
    count += 1
    classify = []
#         if key not in sent:
#             sent[key] = []
    try:
        for val_item in val:
            sentiment = sentiment_analyzer.polarity_scores(val_item)
            sentiment.pop('compound')
            sentiment.pop('neu')
            classify.append(max(sentiment.items(), key=operator.itemgetter(1))[0])
        sent[key] = classify
    except:
        continue

__Find the number of positive and negative counts for each business__

In [30]:
from collections import Counter
for k,v in sent.items():
        sent[k] = Counter(v)

In [34]:
for k,v in sent.items():
    if 'pos' not in v:
        sent[k]['pos'] = 0
    if 'neg' not in v:
        sent[k]['neg'] = 0
data = {}
for k,v in sent.items():
    if k not in data:
        data[k] = []
    data[k].append(v['pos'])
    data[k].append(v['neg'])

In [37]:
import csv
file_str = 'business_id,pos_count,neg_count\n'
with open('tip_output.csv','w', newline='') as file:
    file.write(file_str)
    writer = csv.writer(file)
    for k,v in data.items():
        writer.writerow([k,v[0],v[1]])

In [53]:
op = pd.read_csv('tip_output.csv')
df = pd.merge(op, tips_df, on='business_id')

In [54]:
op.tail()

                   business_id  pos_count  neg_count
121516  zztHqd_3ULxuIS8lkhYdwg          1          1
121517  zzwaS0xn1MVEPEf0hNLjew          8         11
121518  zzwhN7x37nyjP0ZM8oiHmw          3          0
121519  zzwicjPC9g246MK2M1ZFBA          9          4
121520  zzzaIBwimxVej4tY6qFOUQ         15          7

In [55]:
df.tail()

,business_id,pos_count,neg_count,text
1185253,zzzaIBwimxVej4tY6qFOUQ,15,7,Love this place food is great
1185254,zzzaIBwimxVej4tY6qFOUQ,15,7,"Good fingers ad cheaper than other places, hot..."
1185255,zzzaIBwimxVej4tY6qFOUQ,15,7,Wanted to try it for lunch but was closed for ...
1185256,zzzaIBwimxVej4tY6qFOUQ,15,7,Really liked the chicken and tea. Customer s...
1185257,zzzaIBwimxVej4tY6qFOUQ,15,7,When will you reopen?? We have tried going fo...

__Pre Process the text to remove punctuations other than ? and !, lower case and perform stemming for the text field__

In [56]:
import string
import nltk
import re
import pandas as pd
from nltk.corpus import stopwords
nltk.download('stopwords')
def load_stopwords():
    return set(stopwords.words("english"))
main_count = 0
def pre_process(text):
    global main_count
    main_count+=1
    count = 0
    porter = nltk.stem.PorterStemmer()
    text = text.lower() if len(text)>0 else text
    remove = string.punctuation
    remove = remove.replace("?", "") # don't remove ?
    remove = remove.replace("!","") # don't remove !
    pattern = r"[{}]".format(remove)
    text = re.sub(pattern, " ", text)
    words = text.split()
    stops = load_stopwords()
    meaningful_words = [porter.stem(w) for w in words if not w in stops]
    if main_count%100000 == 0:
        print(main_count)
    return " ".join(meaningful_words)

df['text'] = df['text'].apply(lambda x: pre_process(x))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\deept\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000

In [57]:
df.tail()

,business_id,pos_count,neg_count,text
1185253,zzzaIBwimxVej4tY6qFOUQ,15,7,love place food great
1185254,zzzaIBwimxVej4tY6qFOUQ,15,7,good finger ad cheaper place hot sauc good too!
1185255,zzzaIBwimxVej4tY6qFOUQ,15,7,want tri lunch close remodel juli 17 2014
1185256,zzzaIBwimxVej4tY6qFOUQ,15,7,realli like chicken tea custom servic awesom
1185257,zzzaIBwimxVej4tY6qFOUQ,15,7,reopen?? tri go almost two month say remodel

Find the count of ? and ! used in the text

In [58]:
df['count_punctuation'] = df.text.str.count('\?|\!')

__Find the length of each text__

In [59]:
def find_length(text):
    try:
        val = len(text)
    except:
        val =0
    return val
df['text_length'] = df['text'].apply(lambda x: find_length(x))

In [60]:
df.tail()

,business_id,pos_count,neg_count,text,count_punctuation,text_length
1185253,zzzaIBwimxVej4tY6qFOUQ,15,7,love place food great,0,21
1185254,zzzaIBwimxVej4tY6qFOUQ,15,7,good finger ad cheaper place hot sauc good too!,1,47
1185255,zzzaIBwimxVej4tY6qFOUQ,15,7,want tri lunch close remodel juli 17 2014,0,41
1185256,zzzaIBwimxVej4tY6qFOUQ,15,7,realli like chicken tea custom servic awesom,0,44
1185257,zzzaIBwimxVej4tY6qFOUQ,15,7,reopen?? tri go almost two month say remodel,2,44

__Group by business ID and find the average length of the tips and average count of the occurrence of ? and !__

In [61]:
df_1 = df.groupby('business_id').agg({'text_length': 'mean', 'count_punctuation': 'mean'}).reset_index()

In [62]:
df_1.tail()

                   business_id  text_length  count_punctuation
121516  zztHqd_3ULxuIS8lkhYdwg    83.500000           0.000000
121517  zzwaS0xn1MVEPEf0hNLjew    37.421053           1.052632
121518  zzwhN7x37nyjP0ZM8oiHmw    91.333333           3.666667
121519  zzwicjPC9g246MK2M1ZFBA    55.230769           0.384615
121520  zzzaIBwimxVej4tY6qFOUQ    43.454545           1.090909

In [66]:
out = pd.merge(op, df_1, on='business_id')

In [67]:
out.tail()

,business_id,pos_count,neg_count,text_length,count_punctuation
121516,zztHqd_3ULxuIS8lkhYdwg,1,1,83.500000,0.000000
121517,zzwaS0xn1MVEPEf0hNLjew,8,11,37.421053,1.052632
121518,zzwhN7x37nyjP0ZM8oiHmw,3,0,91.333333,3.666667
121519,zzwicjPC9g246MK2M1ZFBA,9,4,55.230769,0.384615
121520,zzzaIBwimxVej4tY6qFOUQ,15,7,43.454545,1.090909